:root {
  --avatar-color: #000000;
  --avatar-cursor: default;
  --avatar-font-family: system-ui, Roboto, Helvetica, Arial, sans-serif;
  --avatar-font-size: 14px;
  --avatar-font-weight: 400;

  --button-color: #000000;
  --button-cursor: default;
  --button-font-family: system-ui, Roboto, Helvetica, Arial, sans-serif;
  --button-font-size: 14px;
  --button-font-weight: 400;  

  --divider-background-color: #000000;
  --divider-width: 1px;

  --icon-color: #000000;
  --icon-cursor: default;
  --icon-font-family: 'Material Symbols Outlined';
  --icon-font-weight: normal;
  --icon-size: 24px;
  --icon-text-align: center;

  --icon-button-color: #000000;
  --icon-button-cursor: default;
  --icon-button-font-family: 'Material Symbols Outlined';
  --icon-button-font-weight: normal;
  --icon-button-size: 24px;
  --icon-button-text-align: center;  

  --input-color: #000000;
  --input-font-family: system-ui, Roboto, Helvetica, Arial, sans-serif;
  --input-font-size: 14px;
  --input-font-weight: 400;  

  --label-color: #000000;
  --label-cursor: default;
  --label-font-family: system-ui, Roboto, Helvetica, Arial, sans-serif;
  --label-font-size: 14px;
  --label-font-weight: 400;

  --list-selected-background-color: lightgray;

  --rating-background-image: url( '../img/star.svg' );
  --rating-color: lightgray;
  --rating-cursor: pointer;
  --rating-flex-direction: row;
  --rating-font-family: 'Material Symbols Outlined';
  --rating-font-weight: normal;
  --rating-gap: 0;
  --rating-opacity: 0.10;
  --rating-selected-color: #000000;
  --rating-size: 24px;
}
