@font-face {
  font-family: 'Roboto';
  font-weight: 700;  
  src: url( './fonts/Roboto/Roboto-Bold.ttf' ) format( 'truetype' );
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;  
  src: url( './fonts/Roboto/Roboto-Medium.ttf' ) format( 'truetype' );
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;  
  src: url( './fonts/Roboto/Roboto-Regular.ttf' ) format( 'truetype' );
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url( './fonts/Icons/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].ttf' ) format( 'truetype' );
}

:root {
  --avatar-color: #000000;
  --avatar-cursor: default;
  --avatar-font-family: 'Roboto', sans-serif;
  --avatar-font-size: 14px;
  --avatar-font-weight: 400;

  --divider-background-color: #000000;
  --divider-width: 1px;

  --icon-color: #000000;
  --icon-cursor: default;
  --icon-font-family: 'Material Symbols Outlined';
  --icon-font-weight: normal;
  --icon-size: 24px;
  --icon-text-align: center;

  --icon-button-color: #000000;
  --icon-button-cursor: default;
  --icon-button-font-family: 'Material Symbols Outlined';
  --icon-button-font-weight: normal;
  --icon-button-size: 24px;
  --icon-button-text-align: center;  

  --label-color: #000000;
  --label-cursor: default;
  --label-font-family: 'Roboto', sans-serif;
  --label-font-size: 14px;
  --label-font-weight: 400;

  --list-selected-background-color: lightgray;
}
