mx-button::part( button ) {
  cursor: pointer;
}

mx-button[variant=filled]::part( button ) {
  background: none;
  border: none;
  border-radius: 20px;
  height: 40px;
  margin: 0;
  min-height: 40px;
  padding: 0 24px 0 24px;
}

mx-button[variant=filled]::part( label ) {
  font-size: 16px;
  font-weight: 500;
}

mx-icon-button::part( button ) {
  background: none;
  border: none;
  cursor: pointer;
  height: 48px;
  min-height: 48px;
  min-width: 48px;
  width: 48px;
}

mx-icon-button::part( font ) {
  direction: ltr;        
  font-family: 'Material Symbols Outlined';        
  font-style: normal;        
  font-weight: normal;
  letter-spacing: normal;        
  line-height: 1;
  text-transform: none;
  white-space: nowrap;        
  word-wrap: normal;  
}

mx-label::part( label ) {
  cursor: default;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

mx-list::part( empty ) {
  align-items: center;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  justify-content: center;
}

mx-toolbar {
  height: 56px;
  padding: 0 4px 0 4px;
}

mx-toolbar mx-icon-button::part( font ) {
  font-size: 22px;
}

mx-toolbar mx-label {
  flex-basis: 0;
  flex-grow: 1;
  margin: 0 16px 0 16px;
}

mx-toolbar mx-label::part( label ) {
  font-size: 20px;
  font-weight: 500;
}
